 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
.body{
height: 2000px;
}
.menu{
position:fixed;
z-index:10;
width: 1250px;
}
header{
background-color:black;
height:600px;
position: relative;

}
.ad{
position:absolute;
z-index:8;
}
.movies2{
  display:none;
}
.box{
  position: absolute;
left: 183px;


}
.movies-hover{
background-image:url("../images/movies1.png");
width: 931px;
position:relative;
height: 400px;

}
.container{
width: 180px;
height: 184px;
}
.big-box{
position:relative;
}