 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
.body{
height: 2000px;
background-color:#E1E1E1;
}
.menu{
position:fixed;
z-index:10;
width: 1250px;
box-shadow:0 3px 8px rgba(0, 0, 0, .6);
}
header{
background-image:url("../images/noway.png");
height:400px;
position: relative;
background-repeat:no-repeat;
box-shadow:0 3px 8px rgba(0, 0, 0, .6);
}
.big-box{
background-color:#E1E1E1;
box-shadow:0 3px 8px rgba(0, 0, 0, .3);
}
.ad{
position:absolute;
z-index:8;
}
.movies2{
  display:none;
}
.box{
  position: absolute;
left: 183px;


}
.movies-hover{
background-image:url("../images/movies1.png");
width: 931px;
position:relative;
height: 400px;
background-repeat:no-repeat;


}
.container{
width: 180px;
height: 249px;
}
.big-box{
position:relative;
}



.button{
position: absolute;
left: 829px;
}
.movies-hover2{
background-image:url("../images/movies2.png");
width: 931px;
position:relative;
height: 400px;
background-repeat:no-repeat;
display:none;
}
.locke{
padding-left: 462px;
}
p{
  color:red;
  text-align:center;
}
.lost{
  display:none;
padding-left: 364px;
box-shadow:0 3px 8px rgba(0, 0, 0, .3);

}
.dblclick{
  padding-left: 417px;
  color: red;
}